@using Microsoft.AspNetCore.Authorization;
@using SuperNews.UsersRoles;
@model IEnumerable<SuperNews.Models.NewsShortModel>
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

@if ((AuthorizationService.AuthorizeAsync(User, Permissions.News.Create)).Result.Succeeded)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.NewsId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.NewsId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.NewsId })
            </td>
        </tr>
}
    </tbody>
</table>
